html {
  background-image:url('/img/abstract_1.png');
  background-repeat: no-repeat;
  background-size: 1550px 755px;
}

#authContainer {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  color: var(--first-color)
}

form > label,
form > input {
  display: block;
  width: 100%;
}

label {
  color: var(--first-color);
  margin-bottom: 0.2rem;
}

form > input,
.alert {
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

form > input {
  margin-bottom: 1.5rem;
  border: 3px solid var(--third-color);
}

.alert {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.alert.danger {
  background-color: rgb(253, 163, 147);
  color: rgb(199, 9, 9);
}

.alert.success {
  background-color: rgb(165, 251, 175);
  color: rgb(14, 145, 7);
}

.remember {
  margin-left: 0.3rem;
  margin-bottom: 2rem;
}

.remember input {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.action {
  justify-content: flex-end;
  column-gap: 10px;
}

.action a,
.action button {
  padding: 0.3rem 1.2rem;
}

.action a {
  text-decoration: none;
  color: var(--first-color);
}

.action button {
  background-color: var(--first-color);
  color: var(--fifth-color);
  border-radius: 10px;
  border: none;
}