.navigation {
  background-color: var(--first-color);
  padding: 0.5rem 1.2rem;
  justify-content: space-between;
  text-align: center;
}

.navigation span {
  font-size: 1.3rem;
  color: var(--sixth-color);
  font-weight: bolder;
}

form {
  display: inline;
}

.menu-action a,
.menu-action button {
  padding: 0.3rem 1.2rem;
  background-color: var(--fourth-color);
  display: inline-block;
  color: var(--first-color);
  text-decoration: none;
  margin-left: 0.5rem;
  border-radius: 10px;
}

.menu-action button {
  border: none;
  font-size: 1rem;
}

.container {
  width: 90%;
  margin: 50px auto 35px auto;
}

#ongoings,
#finishs {
  margin-top: 20px;
  gap: 15px;
  flex-wrap: wrap;
}

.container .card {
  width: 290px;
  background-color: white;
  border: 2px solid var(--second-color);
  border-radius: 10px;
  padding: 1rem;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: bolder;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.1rem;
}

.date {
  background-color: var(--fourth-color);
  padding: 0.2rem 1rem;
  display: inline-block;
  border-radius: 5px;
  font-size: 0.9rem;
}

.card a,
.card button {
  padding: 0.3rem 1rem;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 1rem;
}

.btn-default {
  background-color: var(--fifth-color);
  color: black;
  border: none;
}

.btn-danger {
  background-color: var(--nineth-color);
  color: white;
  border: none;
}

@media screen and (max-width: 800px) {
  .navigation {
    flex-direction: column;
    text-align: start;
  }


  .menu-action a {
    margin: 0.5rem 0.3rem 0 0;
  }
}