body {
  background-image: url('/img/background_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navigation {
  background-color: var(--first-color);
  padding: 0.5rem 1.2rem;
  justify-content: space-between;
  text-align: center;
}

.navigation span {
  font-size: 1.3rem;
  color: var(--sixth-color);
  font-weight: bolder;
}

form {
  display: inline;
}

.menu-action a,
.menu-action button {
  padding: 0.3rem 1.2rem;
  background-color: var(--fourth-color);
  display: inline-block;
  color: var(--first-color);
  text-decoration: none;
  margin-left: 0.5rem;
  border-radius: 10px;
}

.menu-action button {
  border: none;
  font-size: 1rem;
}

.container {
  width: 90%;
  margin: 3rem auto 100px auto;
  border: 2px solid var(--first-color);
  border-radius: 10px;
  background-color: white;
  padding: 1rem 1.5rem;
}

.container .message {
  margin-top: 5px;
  margin-bottom: 10px;
}

.container span {
  font-weight: bolder;
}

.send {
  position: fixed;
  background-color: var(--first-color);
  width: 100%;
  bottom: 0;
  padding: 0.9rem 1.7rem;
}

.send form {
  gap: 15px;
}

#message,
.send button {
  font-size: 0.9rem;
  padding: 0.4rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 8px;
}

#message {
  flex: 1;
  color: var(--eighth-color);
}

.send button {
  color: var(--first-color);
  background-color: var(--sixth-color);
}