* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monda', sans-serif;
}

:root {
  --first-color: #4E4E4E;
  --second-color: #515E63;
  --third-color: #57837B;
  --fourth-color: #C9D8B6;
  --fifth-color: #F1ECC3;
  --sixth-color: #FFF2F2;
  --seventh-color: #C4C4C4;
  --eighth-color: #959595;
}

.dflex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.max-vh {
  height: 100vh;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

nav {
  padding: 0.7rem 60px;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.brand {
  text-decoration: none;
  display: block;
}

.brand img {
  width: 50px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.brand span {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--first-color);
}

.auth a,
.btn-out {
  text-decoration: none;
  padding: 0.1rem 1.5rem;
  border-radius: 10px;
}

.register,
.login {
  color: var(--second-color);
}

.btn-green {
  background-color: var(--third-color);
  color: var(--sixth-color);
}

.signOut {
  display: inline-block;
}

.btn-out {
  border: none;
  font-size: 1rem;
  margin: auto;
}

.login {
  background-color: var(--fifth-color);
  border: 2px solid var(--first-color);
}

#drawer {
  display: none;
}

@media screen and (max-width: 1090px) {
  nav {
    padding: 0.7rem 1rem;
  }
}

@media screen and (max-width: 620px) {
  .brand span {
    display: none;
  }

  #drawer {
    display: block;
    font-size: 1.7rem;
    border: none;
    background-color: white;
  }

  .auth {
    display: none;
  }

  .auth.open {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 10px;
    width: 175px;
    padding: 1rem 1.5rem;
    background-color: var(--first-color);
    border-radius: 10px;
    top: 60px;
  }

  .register,
  .login,
  .btn-green {
    color: white;
    background-color: var(--first-color);
    border: none;
    border-radius: 0;
    text-align: center;
    display: block;
    padding: 0.7rem 1.5rem;
  }

  .btn-out {
    padding: 0.1rem 1rem
  }

  .register:hover,
  .login:hover {
    background-color: var(--second-color);
  }
}